body {
    min-width: 300px;
}
.main-container
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    border: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
#img-div {
    background-color: lightgray;
    padding: 5px;
}
#image {
    display: block;
    max-width: 1000px;
    width: 65%;
    margin: 0 auto;
    border-radius: 5px;
}
h1 {
    width: 100%;
    color: darkred;
}
#tribute-info {
    text-align: 50%;
    max-width: 600px;
    margin: 0 auto;
}
.timeline-list {
    text-align: justify;
}
hr {
    width: 50%;
}
#quote {
    display: inline-block;
    width: 75%;
}
blockquote p {
    text-align: justify;
}