html, body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans';
    background-color: seashell;
}
#header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: papayawhip;
    /* height: 60px; */
}
#header-img {
    margin: 0 20px;
    height: 50px;
}
#header-name {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
}
#nav-bar {
    margin-left: auto;
}
#nav-bar ul {
    margin-right: 10%;
    list-style: none;
    display: flex;
    align-items: center;
}
#nav-bar ul li {
    font-family: 'Open Sans';
    font-weight: 1000;
    margin: 10px;
}
a {
    color: black;
    text-decoration: none;
}
#subscribe {
    margin: 5px;
    padding: 5px;
}
#email {
    margin: 15px;
    text-align: center;
    height: 30px;
    width: 200px
}
#submit {
    height: 36px;
}
button, #submit {
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: transparent;
    background-color: yellow; 
}
button:hover, #sumbit:hover {
    background-color: darkgoldenrod;
}
#features {
    display: flex;
    flex-direction: column;
}
.feature {
    padding: 5px;
    margin: 5px;
    display: flex;
    text-align: left;
    align-content: center;
    justify-content: center;

}
.feature-icon {
    margin: 10px;
    padding: 10px;
}
.feature-description {
    max-width: 400px;
}
#video {
    margin: 50px 0;
}
#pricing {
    margin: auto;
    max-width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 200px;
    justify-content: space-between;
}
.pricing-option {
    border-radius: 5px;
    padding: 0;
    margin: 5px;
    border: 2px solid grey;
    max-width: 250px;
}
#bronze-option {
    background-color: brown;
}
#silver-option {
    background-color: silver;
}
#gold-option {
    background-color: gold;
}
.pricing-header {
    height: 50px;
    margin: auto 0;
}
.pricing-header h3 {
    line-height: 50px;
    height: 50px;
    margin: auto 0;
}
.pricing-description {
    height: 60%;
    margin: auto;
    padding: 10px;
}
@media (max-width: 1450px) {
    #pricing {
        max-width: 100%;
        flex-direction: column;
        align-content: center;
         
    }
    .pricing-option {
        width: 100%;
        max-width: 560px;
        margin: 20px 0;
    }
    .pricing-description {
        height: 20%;
        padding: 5px;
    }
}
#footer {
    background-color: blanchedalmond;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#footer ul {
    display: flex;
    list-style: none;
}
#footer ul li {
    margin: 10px;
    font-weight: 1000;
}