html, body {
    background-color: lightcyan;
    text-align: center;
    font-family: "Open Sans";
}
h1 {
    font-size: 38px;
    font-weight: bold;
}
.row {
    overflow: hidden;
    margin: 10px 10px 20px 10px;
}
.col-left {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 0 8px 0 0;
    text-align: right;
}
.col-right {
    float: right;
    box-sizing: border-box;
    padding: 0 0 0 8px;
    width: 50%;
    text-align: left;
}
#survey-background {
    display: inline-block;
    max-width: 1000px;
    background-color: rgb(250, 250, 250);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
#description {
    font-size: 18px;
}
#name, #email, #number, #location, #occupation, #favourite-entrance {
    height: 35px;
    width: 300px;
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0 0 0 8px;
}
textarea {
    resize: none;
    height: 100px;
    width: 300px;
}