html {
  margin: 0;
  padding: 0; }
  html body {
    transition: all 1s;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif; }

#quote-box {
  position: relative;
  background-color: whitesmoke;
  height: 50vh;
  min-height: 200px;
  width: 50vw;
  min-width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px; }

#text {
  margin: 15px;
  text-align: justify; }

#author {
  align-self: flex-end; }

button {
  font-family: 'Lato', sans-serif; }

#new-quote {
  position: absolute;
  right: 40%;
  bottom: 30px;
  width: 20%;
  height: 40px;
  font-size: 20px; }

#tweet-quote {
  position: absolute;
  left: 24px;
  bottom: 30px;
  height: 40px;
  width: 48px; }

.colorized, .background-colorized {
  transition: all 1s; }

/*# sourceMappingURL=styles.css.map */
