
$btn-bottom: 30px;
$btn-height: 40px;

html {
    margin: 0;
    padding: 0;

    body {
        transition: all 1s;
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Lato', sans-serif;
    }
}
#quote-box {
    position: relative;
    background-color: whitesmoke;
    height: 50vh;
    min-height: 200px;
    width: 50vw;
    min-width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}
#text {
    margin: 15px;
    text-align: justify;
}
#author {
    align-self: flex-end;
}
button {
    font-family: 'Lato', sans-serif;
}
#new-quote {
    position: absolute;
    right: 40%;
    bottom: $btn-bottom;
    width: 20%;
    height: $btn-height;
    font-size: 20px;
}
#tweet-quote {
    position: absolute;
    left: 24px;
    bottom: $btn-bottom;
    height: $btn-height;
    width: 48px;
}
.colorized, .background-colorized {
    transition: all 1s;
}