$bg-color: #fee;
$color1: #00B2B2;
$color2: #FF5E00;


html, body {
    width: 100vw;
    height: 100vh;
    background: $bg-color;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer {
    display: flex;
    flex-direction: row;
    
    h3{
        margin: 5px;
    }
}

#start_stop {
    border-color: $color1;
    i {
        color: $color1;
    }
}


#reset {
    border-color: $color2;
    i {
        color: $color2;
    }
}

.timer-button {
    margin: 10px;
    height: 60px;
    width: 80px;
    border: 3px solid;
    border-radius: 5px;
    outline: none;
}

#session-label, #break-label {
    display: flex;
    align-items: center;
    margin: 10px;

    * {
        margin: 5px;
    }

    button {
       border: none;
       padding: 0;

       i {
           margin: 0;
           background: $bg-color;
       }
    }
}