html, body {
  width: 100vw;
  height: 100vh;
  background: #fee;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#app {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; }

#timer {
  display: flex;
  flex-direction: row; }
  #timer h3 {
    margin: 5px; }

#start_stop {
  border-color: #00B2B2; }
  #start_stop i {
    color: #00B2B2; }

#reset {
  border-color: #FF5E00; }
  #reset i {
    color: #FF5E00; }

.timer-button {
  margin: 10px;
  height: 60px;
  width: 80px;
  border: 3px solid;
  border-radius: 5px;
  outline: none; }

#session-label, #break-label {
  display: flex;
  align-items: center;
  margin: 10px; }
  #session-label *, #break-label * {
    margin: 5px; }
  #session-label button, #break-label button {
    border: none;
    padding: 0; }
    #session-label button i, #break-label button i {
      margin: 0;
      background: #fee; }

/*# sourceMappingURL=styles.css.map */
