html {
  margin: 0;
  padding: 0; }
  html body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #4371d4; }

#container {
  display: flex;
  justify-content: space-around;
  padding: 30px; }

.display {
  background-color: #fafafa;
  width: 45%;
  border-radius: 5px;
  padding: 10px; }

#editor {
  width: 45%;
  background-color: #fafafa;
  font-family: monospace;
  border: none;
  resize: none; }

code {
  background-color: silver; }

/*# sourceMappingURL=styles.css.map */
