$main-color: rgb(250, 250, 250);

html {
    margin: 0;
    padding: 0;

    body {
        font-family: 'Lato', sans-serif;
        margin: 0;
        background-color: rgb(67, 113, 212);
    }
}
#container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.display {
    background-color: $main-color;
    width: 45%;
    border-radius: 5px;
    padding: 10px;
}
#editor {
    width: 45%;
    background-color: $main-color;
    font-family: monospace;
    border: none;
    resize: none;
    }
code {
    background-color: silver;
}
