html, body {
    width: 100vw;
    height: 100vh;
    background: #eee;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.external-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#drums-external {
    background: grey;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#drum-machine {
    height: 90%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.control-panel {
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #fff;
}

.buttons {

    width: 80%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    button {
    height: 100%;
    width: 40%;
    margin: 10px;
    }
}

.drum-pad {
    background: blueviolet;
    border-radius: 10px;
}

.drum-button:active {
    background: red;
}

#display {
    width: 80%;
    height: 100px;
    background: black;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    line-height: 100px;
    text-align: center;
    color: greenyellow;
}

.volume-slider {
    width: 80%;
}

@media(max-width: 800px) {
    #drums-external {
        flex-direction: column;
    }

    #drum-machine {
        width: 90%;
        height: 60%;
    }

    .control-panel {
        flex-direction: row;
        height: 30%;
        width: 90%;
    }

    .buttons {
        flex-direction: column;
    }
}