html, body {
    margin: 0;
    font-family: 'Open Sans';
    text-align: center;
}
#navbar {
    position: fixed;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #f0ff6d;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
#navbar ul {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
#navbar a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
}
#navbar a:hover {
    text-decoration: underline;
}
#welcome-section {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0ff6d;
}
#welcome-section * {
    margin: 0;
}
#projects {
    padding: 50px 0;
    background-color: #ffe070;
}
#projects h2 {
    margin: 0;
    padding-top: 50px;
}
#projects-container {
    width: 100%;
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-column-gap: 3vw;
    grid-row-gap: 10vh;
    justify-content: center;
    align-content: center;
}
.project-tile {
    background-color: rgb(240, 240, 240);
    border: solid black 3px;
}
.project-thumbnail {
    height: 80%;
}
.project-img {
    max-width: 100%;
    height: auto;
}
.dupa {
    height: 3px;
}
.project-footer {
    height: 20%;
}
.project-footer h4 {
    margin: 0;
    height: 100%;
    padding-bottom: 5px;
}
#contact {
    justify-items: center;
    height: 90vh;
    background-color: #ffc07d;
}
#contact h2 {
    margin-top: 0;
    padding-top: 50px;
}
#contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.contact-link {
    width: 150px;
    height: 60px;
    line-height: 60px;
    border: solid black 3px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff3d1b;
    color: black;

}
footer {
    height: 50px;
    padding-right: 50px;
    text-align: right;
    background-color: silver;
}
footer p {
    margin: 0;
    line-height: 50px;
}
@media (max-width: 800px) {
    #navbar {
        justify-content: center;
    }
}