html {
  background: lightgray;
  margin: 0;
  padding: 0; }
  html body {
    display: flex;
    align-items: center;
    justify-content: center; }

#external-container {
  display: flex;
  align-items: center;
  justify-content: center; }

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  width: 300px;
  height: 450px; }

#calculator * {
  background: gray; }

#display, #result {
  grid-area: 1 / 1 / 1 / 5;
  background: black;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end; }
  #display *, #result * {
    background: black; }

#clear {
  grid-area: 2 / 1 / 3 / 3;
  background: darkred; }

#divide {
  grid-area: 2 / 3 / 3 / 4;
  background: darkgray; }

#multiply {
  grid-area: 2 / 4 / 3 / 5;
  background: darkgray; }

#subtract {
  grid-area: 3 / 4 / 4 / 5;
  background: darkgray; }

#add {
  grid-area: 4 / 4 / 5 / 5;
  background: darkgray; }

#equals {
  grid-area: 5 / 4 / 7 / 5;
  background: darkcyan; }

#one {
  grid-area: 5 / 1 / 6 / 2; }

#two {
  grid-area: 5 / 2 / 6 / 3; }

#three {
  grid-area: 5 / 3 / 6 / 4; }

#four {
  grid-area: 4 / 1 / 5 / 2; }

#five {
  grid-area: 4 / 2 / 5 / 3; }

#six {
  grid-area: 4 / 3 / 5 / 4; }

#seven {
  grid-area: 3 / 1 / 4 / 2; }

#eight {
  grid-area: 3 / 2 / 4 / 3; }

#nine {
  grid-area: 3 / 3 / 4 / 4; }

#zero {
  grid-area: 6 / 1 / 7 / 3; }

#decimal {
  grid-area: 6 / 3 / 7 / 4; }

/*# sourceMappingURL=styles.css.map */
