body {
    margin: 0;
    font-family: "Open Sans";
    text-align: justify;
    display: flex;
}
#navbar {
    height: 100%;
    position: fixed;
    top: 0px;
    width: 260px;
    /* overflow: visible; */
    border-right: solid grey 2px;
}
#navbar header {
    text-align: center;
}
#nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#nav-list li {
    width: 100%;
    border-top: solid grey 1px;
    padding-bottom: 5px;
    width: 100%;
}
.nav-link {
    color: black;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 5px;
}
#main-doc {
    position: absolute;
    margin: 10px 10px 10px 270px;
}
#main-doc code {
    background-color: rgb(240, 240, 240);
}
@media (max-width: 1000px) {
    #navbar {
        text-align: center;
        position: absolute;
        height: 180px;
        width: 100%;
        border-bottom: solid grey 2px;
    }
    #main-doc {
        margin: 180px 10px 10px 10px;
        width: 100%;
    }
}